body{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;


}

header,nav,section,article,aside,footer{
    background-color: antiquewhite;
    align-items: center;
    display: flex;
    justify-content: center;

}
aside{
    display: flex;
    width: 100%;
    height: 31rem;
}

main{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

section{

    height: 15rem;
}

article{

    height: 15rem;
}