/* App.css is used to style the App component specifically , which means it targets elements within the App component, i.e inside the div with id root */
#root{
  display: flex;
  flex-direction: column; /*flex dirn column makes the items stack vertically*/
  gap: 1rem;
}

header, footer, section, nav{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  min-height: 15rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

